
@{
    ViewBag.Title = "DoneOrder";
    Layout = "~/Views/Order/OrderInfo.cshtml";
}

    <div class="finsh">
        <i class="far fa-check-circle"></i>
        <p>successfully</p>
        <div class="qq">
            <p>Do You Want To Buy Other Products?..</p>
            <button onclick="location.href='@Url.Action("Shop" ,"Shop")'">Yes</button>
            <button onclick="location.href='@Url.Action("Index" ,"Home")'">Thanks</button>
        </div>
    </div>

