@model IEnumerable<OrderViewModel>
@{
    ViewBag.Title = "OrdersContent";
}

<!-- Order content -->

<div class="cart_section"
     style="border-bottom: 3px solid rgb(48, 48, 241);">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Order's Status</div>

                    <div class="cart_items">
                        <ul class="cart_list">
                            @foreach (var item in Model)
                            {
                                <li class="cart_item clearfix">
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Date</div>
                                            <div class="cart_item_text">
                                                @item.DateAdded.ToShortDateString() <span class="info-span">@item.DateAdded.ToShortTimeString()</span>
                                            </div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Status</div>
                                            <div class="cart_item_text">@item.OrderStatus</div>
                                        </div>
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_text">
                                                <button class="info-btn" onclick="location.href='@Url.Action("OrderDetails","Order",new {id=item.Id })'">Show details</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

