
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="~/Content/Custom/admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <section class="admin-side text-center">
        <div class="one x">
            <i class="fas fa-circle"></i>
            <p class="name-admin">@MedicalStore.Helpers.AuthorizationHelper.GetUserInfo().UserName</p>
        </div>
        <span class="hr"></span>
        <div class="two x">
            <h3 class="admins-add">Admins</h3>
        </div>
        <span class="hr"></span>
        <div class="three x">
            <h3 class="products-add">Products</h3>
        </div>
        <div class="three x">
            <h3 class="categorie-add">Categores</h3>
        </div>
    </section>
    <!-- //////// -->
    <section class="content-side">
        <div class="main">
            <div class="form">
                <input type="text" name="user" placeholder="Username" autocomplete="off">
                <input type="email" name="mail" placeholder="email" autocomplete="off">
                <input type="password" name="pass" placeholder="password">
                <input type="password" name="pass" placeholder="confirm password">

                @*<input type="checkbox" name="" id="">*@
                @*<label for="checkbox">I Agree To The Terms</label>*@
                <button class="btn-1"> Add</button>
            </div>

            <div class="catig">
                @Html.Partial("Products")
            </div>

            <!-- categores -->
            <div class="cat">
                <div class="desc-cat text-center">
                    <h1>Upload New Categores</h1>
                </div>
                <form action="#" class="for">
                    <input type="text" name="cat">
                    <button class="btn-0">Send</button>
                    <button class="btn-2"> Edit</button>
                    <button class="btn-3"> Delete</button>
                </form>
            </div>
        </div>
    </section>
    <!-- script files -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/admin.js"></script>
</body>
</html>


