@model CategoryViewModel

<div class="desc-cat text-center">
    <h1>Upload New Categores</h1>
</div>
@using(Html.BeginForm(""))
<form action="#" class="for">
    <input type="text" name="cat">
    <button class="btn-0">Send</button>
    <button class="btn-2"> Edit</button>
    <button class="btn-3"> Delete</button>
</form>
