@model IEnumerable<ContactUsViewModel>
<div class="mail-table">
    <table>
        <thead>
            <tr>
                <th>Nmae</th>
                <th>Email</th>
                <th>phome</th>
                <th>massage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                    <td class="message">@item.Message</td>
                </tr>
            }
        </tbody>
    </table>
</div>
