@model IEnumerable<AdminOrderViewModel>

<div class="desc-cat text-center">
    <h1>Orders Status</h1>
</div>
<div class="order-table">
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>User Name</th>
                <th>Status</th>
                <th>Confirm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Id)</td>
                    <td>@Html.DisplayFor(m => item.DateAdded)</td>
                    <td>@Html.DisplayFor(m => item.User.UserName) </td>
                    <td>
                        @Html.EnumDropDownListFor(M => item.OrderStatus, new { @class = "form-control" })
                    </td>
                    <td>
                        <button>Change Status</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
