

<div class="page_menu_search">
    <form action="#">
        <input type="search"
               required="required"
               class="page_menu_search_input"
               placeholder="Search for products..." />
    </form>
</div>

