
@{
    ViewBag.Title = "About";
}
<div class="main-about">
    <div class="container"></div>
</div>

<div class="cart_section"
     style="border-bottom: 3px solidrgb(48, 48, 241); padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="abuot_container text-center">
                    <div class="about_title">
                        <h2>About Us</h2>
                        <span class="about_hr">
                            <span class="about_mainhr"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 mydes" data-aos="fade-right">
                <p class="about_des" data-aos="fade-left">
                    Medical Store is a virtual store on the Internet where customers
                    can browse the catalog and select products of interest. The
                    selected items may be collected in a shopping cart. At checkout
                    time, the items in the shopping cart will be presented as an
                    order. At that time, more information will be needed to complete
                    the transaction. Usually, the customer will be asked to fill or
                    select a billing address, a shipping address, phone number, Cash
                    on Delivery.
                </p>
            </div>
            <div class="col-md-6 col-xs-12" data-aos="zoom-in">
                <img src="~/Images/about1.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12" data-aos="zoom-in">
            <img src="~/Images/about2.jpg" class="img-fluid" />
        </div>
        <div class="col-md-6 col-xs-12 mydes" data-aos="fade-right">
            <p class="about_des" data-aos="fade-left">
                Medical Store is a virtual store on the Internet where customers
                can browse the catalog and select products of interest. The
                selected items may be collected in a shopping cart. At checkout
                time, the items in the shopping cart will be presented as an
                order. At that time, more information will be needed to complete
                the transaction. Usually, the customer will be asked to fill or
                select a billing address, a shipping address, phone number, Cash
                on Delivery.
            </p>
        </div>
    </div>
</div>
<section class="sections testimonial" id="testimonial">
    <div class="container">
        <div class="about_title text-center">
            <h2>Teamwork</h2>
            <span class="about_hr">
                <span class="about_mainhr"></span>
            </span>
        </div>
        <!---------------div header------------>
        <div class="row">
            <div class="card col-lg-3 col-md-4 col-xs-12" data-aos="flip-left">
                <img src="~/Images/1.jpg" class="cover" />
                <img src="~/Images/5.jpg" class="me" />
                <h3>Ahmed Shawky</h3>
                <p class="jop">Full Stack .Net Developer</p>
                <p class="myinfo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    reprehenderit voluptates voluptas deleniti nulla! Molestiae?
                </p>
                <ul class="so">
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-github-alt"></i></li>
                </ul>
                <a href="ShawkyCV.pdf" download><button class="btn mybtn">Download CV</button></a>
            </div>
            <div class="card col-lg-3 col-md-4 col-xs-12" data-aos="flip-left">
                <img src="~/Images/1.jpg" class="cover" />
                <img src="~/Images/Abdallah1.jpeg" class="me" />
                <h3>Abdallah Farag</h3>
                <p class="jop">Team leader</p>
                <p class="myinfo">
                    Full stack .net developer
                </p>
                <ul class="so">
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-github-alt"></i></li>
                </ul>
            </div>
            <div class="card col-lg-3 col-md-4 col-xs-12" data-aos="flip-left">
                <img src="~/Images/1.jpg" class="cover" />
                <img src="~/Images/3laa.jpeg" class="me" />
                <h3>Alaa Ahmed</h3>
                <p class="jop">Full Stack .Net Developer</p>
                <p class="myinfo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    reprehenderit voluptates voluptas deleniti nulla! Molestiae?
                </p>
                <ul class="so">
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-github-alt"></i></li>
                </ul>
                <a href="#"> <button class="btn mybtn">Download CV</button></a>
            </div>
            <div class="card col-lg-3 col-md-4 col-xs-12" data-aos="fade-up"
                 data-aos-easing="linear"
                 data-aos-duration="1500">
                <img src="~/Images/1.jpg" class="cover" />
                <img src="~/Images/mirnna1.jpeg" class="me" />
                <h3>Merna Mohammed</h3>
                <p class="jop">Full Stack .Net Developer</p>
                <p class="myinfo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    reprehenderit voluptates voluptas deleniti nulla! Molestiae?
                </p>
                <ul class="so">
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-github-alt"></i></li>
                </ul>
                <a href="#"> <button class="btn mybtn">Download CV</button></a>
            </div>

            <div class="card col-lg-3 col-md-4 col-xs-12" data-aos="fade-up"
                 data-aos-easing="linear"
                 data-aos-duration="1500">
                <img src="~/Images/1.jpg" class="cover" />
                <img src="~/Images/renad1.jpeg" class="me" />
                <h3>Renad Hanibal</h3>
                <p class="jop">Full Stack .Net Developer</p>
                <p class="myinfo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    reprehenderit voluptates voluptas deleniti nulla! Molestiae?
                </p>
                <ul class="so">
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-github-alt"></i></li>
                </ul>
                <a href="#"> <button class="btn mybtn">Download CV</button></a>
            </div>
            <div class="card col-lg-3 col-md-4 col-xs-12" data-aos="fade-up"
                 data-aos-easing="linear"
                 data-aos-duration="1500">
                <img src="~/Images/1.jpg" class="cover" />
                <img src="~/Images/Hagar11.jpeg" class="me" />
                <h3>Hagar Ahmed</h3>
                <p class="jop">Full Stack .Net Developer</p>
                <p class="myinfo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    reprehenderit voluptates voluptas deleniti nulla! Molestiae?
                </p>
                <ul class="so">
                    <li><i class="fab fa-google"></i></li>
                    <li><i class="fab fa-linkedin"></i></li>
                    <li><i class="fab fa-github-alt"></i></li>
                </ul>
                <a href="#"> <button class="btn mybtn">Download CV</button></a>
            </div>
        </div>
    </div>
</section>

