@model MedicalStore.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


@*@using(Ajax.BeginForm("Register" ,"Home" ,new AjaxOptions { HttpMethod="Post" ,UpdateTargetId= "indexContent",InsertionMode=InsertionMode.Replace }))
{
<div class="form-group">
    @Html.LabelFor(i => i.Email)
    @Html.EditorFor(i => i.Email, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(i => i.Email, "", htmlAttributes: new { @class = "text-danger" })
</div>

}*@

<h1>register</h1>
    <div class="container">
        <div class="row cll">
            <h1>row cll</h1>
            <!-- <a href="index.html"> <i class="fas fa-arrow-circle-left"></i></a> -->
            <div class="main-d">
                <div class="main col-md-6 col-xs-12">
                    <h1>main</h1>
                    <h1 class="text-center he">REGISTER</h1>
                    <form name="myForm"
                          action="#"
                          method="POST"
                          class="form-group form">
                        <input type="text"
                               name="user"
                               id="username"
                               placeholder="username"
                               autocomplete="off"
                               required />
                        <span id="errname"></span>
                        <input type="email"
                               name="mail"
                               id="email"
                               placeholder="email"
                               autocomplete="off"
                               required />
                        <span id="erremail"></span>
                        <input type="password"
                               name="pass"
                               id="password"
                               placeholder="password"
                               required />
                        <span id="errpass"></span>
                        <input type="password"
                               name="con"
                               id="conferm"
                               placeholder="confirmpassword"
                               required />
                        <span id="errpass1"></span>
                        <input type="submit"
                               name="ok"
                               value="REGISTER"
                               class="btn"
                               onclick="sub()" />
                    </form>
                    <div class="login-1">
                        <p class="text-center login22">
                            Don't Have an Account ?
                            <a href="#" onclick="reg()"> Login Now</a>
                        </p>
                    </div>
                </div>
